<template>
    <div>
    <slot name="first">Here is SLot</slot>
    <slot name="second">Here is SLot</slot>
    <slot name="form">Bootstrap form</slot>
    <slot name="loading">Loading...</slot>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

</style>