<template>
  <div>
  <app-header v-bind:name="name" @update="name=$event"></app-header>
  <app-footer v-bind:university="MyUniversity"></app-footer>
  <app-slot>
  <ol slot="first">
  <li>A</li>
  <li>B</li>
  <li>C</li>
  <li>D</li>
  </ol>
  
 
  <form slot="second">
  <h1 > Another Slot starts here </h1>
  <label>Enter Phone Number</label>
  <input type="text" name="number"/>
  </form>
  <div slot="form">
    <div class="container">
        <form>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <h1>From Handeling</h1>
                    <hr>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input
                                type="text"
                                id="email"
                                class="form-control"
                                v-model="formData.userEmail">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                                type="password"
                                id="password"
                                class="form-control"
                                v-model="formData.password">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input
                                type="number"
                                id="age"
                                class="form-control"
                                v-model="formData.age">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="message">Message</label><br>

                    <textarea
                            id="message"
                            rows="5"
                            class="form-control"
                             v-model="formData.message">
                    </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="sendmail">
                            <input
                                    type="checkbox"
                                    id="sendmail"
                                    value="SendMail"
                                    v-model="sendMail"> Send Mail
                        </label>
                        <label for="sendInfomail">
                            <input
                                    type="checkbox"
                                    id="sendInfomail"
                                    value="SendInfoMail"
                                    v-model="sendMail"> Send Infomail
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-group">
                    <label for="male">
                        <input
                                type="radio"
                                id="male"
                                value="Male"> Male
                    </label>
                    <label for="female">
                        <input
                                type="radio"
                                id="female"
                                value="Female"> Female
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 from-group">
                    <label for="priority">Priority</label>
                    <select
                            id="priority"
                            class="form-control">
                        <option></option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <button
                            class="btn btn-primary">Submit!
                    </button>
                </div>
            </div>
        </form>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Mail:{{formData.userEmail}}</p>
                        <p>Password:{{formData.password}}</p>
                        <p>Age:{{formData.age}}</p>
                        <p>Message: {{formData.message}}</p>
                        <p><strong>Send Mail?</strong></p>
                        <ol>
                        </ol>
                        <p>Gender:</p>
                        <p>Priority:</p>
                        <p>Switched:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <p :slot="loader">See You Again</p>
  </app-slot>
  <!--
   <h1>{{name}}</h1>
   <h1>{{age}}</h1>
 -->
  </div>
</template>
<script>
import Header from '@/Components/Header_Footer/Header';
import Footer from '@/Components/Header_Footer/Footer';
import SlotWork from '@/Components/SlotWork';
export default {
  components:{
'app-header':Header,
'app-footer':Footer,
'app-slot':SlotWork
  },
  data() {
    return {
      formData:{
        userEmail:'',
        password:'',
        age:'',
        message:'',

      },
              sendMail:[],
      name:'ashraf',
      loader:'See You Again',
     MyUniversity:'Mawlana Bhashani Science And Technology University '
    //  name:'ratul',
      //age:28,
    }
  },
created() {
  setTimeout(()=>{
    this.loader="loading"
  },3000)
}
 
  
}
</script>
<style>

</style>