<template>
    <div>
    Footer tag
    <h2>university Name:{{university}}</h2>
    </div>
</template>
<script>
import {bus} from '../../main';
export default {
    props:['university'],
    created() {
        bus.$on('updateVersity',(data)=>{
            this.university=data;
        });
    }
}
</script>