<template>
    <div>
   <p>header tag {{name}}</p>
   <button v-on:click="updateName">UpdateName</button>
   <button v-on:click="updateUniversityName">UpdateUniversityName</button>
    </div>
</template>
<script>
import {bus} from '../../main'
export default {
    props:['name'],
    methods:{
        updateName() {
            this.$emit('update','Md.RatulUddinAshraf');
        },
        updateUniversityName() {
            bus.$emit('updateVersity','MBSTU');
        }
    }
}
</script>